# Configuration Passenger pour Dynamic Forms Backend
PassengerAppRoot /home/wcetgwbv/dynamic-forms-backend
PassengerBaseURI /
PassengerAppType node
PassengerStartupFile app.cjs
PassengerNodejs "/home/wcetgwbv/nodevenv/dynamic-forms-backend/20/bin/node"
# PassengerFriendlyErrorPages on
