# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerFriendlyErrorPages on
PassengerAppRoot "/home/wcetgwbv/dynamic-forms-backend"
PassengerBaseURI "/"
PassengerNodejs "/home/wcetgwbv/nodevenv/dynamic-forms-backend/20/bin/node"
PassengerAppType node
PassengerStartupFile app-optimized.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerFriendlyErrorPages on
PassengerAppRoot "/home/wcetgwbv/dynamic-forms-backend"
PassengerBaseURI "/"
PassengerNodejs "/home/wcetgwbv/nodevenv/dynamic-forms-backend/20/bin/node"
PassengerAppType node
PassengerStartupFile app-optimized.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
